.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  align-items: center;


}

.logo__place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  width: 228px;
  z-index: 4;

}

.header__title {
  margin: 0;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 3;



}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;

}

.header__main-illustration {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 765px;
  height: 608px;
  z-index: 1;

}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  background-repeat: no-repeat;
  object-fit: cover;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.description {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;

}

.two-columns {
  display: flex;
  width: 80%;
  min-height: 100px;
  justify-content: space-between;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;

}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;


}

.two-columns__span-accent {
  font-weight: bold;
}


.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  padding: 0;
}

.digits {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 0;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  padding: 0;
  margin: 0px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  list-style-type: none;

}

.table__heading {
  margin: 0;
  padding-bottom: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.feynman {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

.feynman__title {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 4;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 4;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 445px;
  margin: 0;
  text-decoration: none;
}


.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title_theme_dark {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

.section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: white;
}

.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  background-size: 877px 877px;
  height: 877px;
  width: 877px;
  position: absolute;
  z-index: 1;
  right: -210px;
  top: 0;
}

.table_theme_dark {
  width: 1100px;
  margin: 0px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  list-style-type: none;
  z-index: 2;

}

.table__heading_theme_dark {
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}



.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  display: flex;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  color: white;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

}

.footer__column_content_copyright {
  flex-basis: 711px;
}


.logo__place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  list-style-type: none;
}

.footer__column-links {
  list-style-type: none;
  margin-bottom: 16px;

}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  text-decoration: none;



}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
